@charset "UTF-8";
/*头部部分*/
a {
  text-decoration: none; }
  a :hover {
    text-decoration: none; }

#header-content {
  width: 100%;
  height: 9%; }
  #header-content #header-main {
    width: 68%;
    margin: 0 auto;
    overflow: hidden; }
    #header-content #header-main h1 {
      width: 152px;
      float: left;
      margin: 18px 30px 18px 0; }
      #header-content #header-main h1 a img {
        height: 34px; }
    #header-content #header-main p {
      float: left;
      height: 42px;
      line-height: 42px;
      padding: 0 30px;
      margin-top: 15px;
      color: #666;
      border-left: 1px solid #e6e6e6; }

/*banner部分*/
#banner {
  height: 553px;
  width: 100%;
  margin: 0 auto;
  background: url(../img/banner1.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden; }
  #banner #banner-main {
    width: 68%;
    margin: 0 auto;
    height: 553px; }
  #banner #form2 {
    position: relative;
    float: right;
    width: 380px;
    height: 530px;
    margin-top: 12px;
    background: #fff;
    padding-top: 24px;
    box-sizing: border-box; }
    #banner #form2 .p-box {
      box-sizing: border-box;
      height: 40px;
      width: 348px;
      margin: 0 auto;
      border-bottom: 1px solid #ddd;
      padding: 0 50px;
      margin-bottom: 28px; }
      #banner #form2 .p-box a {
        width: 120px;
        display: block;
        float: left;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #f3f3f3; }
        #banner #form2 .p-box a:nth-of-type(2) {
          background: #000;
          float: right; }
    #banner #form2 .tip {
      position: absolute;
      overflow: hidden;
      height: 28px;
      line-height: 28px;
      width: 313px;
      margin-left: 34px;
      color: #e60012;
      display: none; }
      #banner #form2 .tip span {
        display: block;
        background: red;
        height: 15px;
        width: 15px;
        line-height: 15px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        margin-right: 10px;
        float: left;
        margin: 5px 0; }
      #banner #form2 .tip b {
        display: block;
        line-height: 28px;
        height: 28px;
        float: left;
        font-weight: 100;
        margin-left: 6px; }
    #banner #form2 .input-box {
      width: 313px;
      margin: 0 auto;
      height: 36px;
      line-height: 36px;
      margin-bottom: 28px; }
      #banner #form2 .input-box select {
        width: 71px;
        float: left;
        text-indent: 10px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #ddd;
        border-right: 0; }
      #banner #form2 .input-box label {
        width: 71px;
        float: left;
        text-indent: 10px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #ddd;
        border-right: 0; }
      #banner #form2 .input-box input {
        float: left;
        height: 36px;
        line-height: 36px;
        outline: none;
        border: 1px solid #ddd;
        border-left: 0;
        text-indent: 6px; }
    #banner #form2 .input-box1 input {
      width: 240px; }
    #banner #form2 .input-box2 input {
      width: 129px; }
    #banner #form2 .input-box2 span {
      display: block;
      float: right;
      width: 106px;
      text-align: center;
      line-height: 36px;
      height: 36px;
      border: 1px solid #8A0909;
      color: blue;
      background: #333333; }
    #banner #form2 .input-box3 input {
      width: 160px; }
    #banner #form2 .input-box3 span {
      display: block;
      float: right;
      width: 73px;
      text-align: center;
      line-height: 36px;
      height: 36px;
      color: #fff;
      background: #323232; }
    #banner #form2 .input-box4 input {
      width: 240px; }
    #banner #form2 .input-box5 input {
      width: 240px; }
    #banner #form2 #word {
      margin-top: 24px;
      height: 30px;
      line-height: 30px;
      text-align: center; }
    #banner #form2 #btn {
      display: block;
      text-align: center;
      height: 40px;
      line-height: 40px;
      background: #e1373a;
      width: 312px;
      margin-left: 38px;
      color: #fff; }

/*尾部部分*/
#footer {
  overflow: hidden;
  height: 12%;
  width: 100%; }
  #footer p {
    width: 68%;
    color: #b1aabf;
    text-align: center;
    margin: 24px auto 76px; }
    #footer p a {
      color: #b1aabf; }
      #footer p a:hover {
        color: #e60012; }

/*# sourceMappingURL=register.css.map */

/*# sourceMappingURL=register.css.map */
